<section class="section">
  <h1 class="title">On this page you can find all the houses of Hogwarts!</h1>
  <h2 class="subtitle">Click on the house to see more information!</h2>
  @for(house of houses; track $index){
  <a [routerLink]="'/houses/' + house.name"
    ><div class="card">
      <div class="card-image">
        <figure class="image is-96x96" id="house-image">
          <img
            src="/images/houses-images/{{ house.name }}.png"
            alt="Placeholder image"
          />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{ house.name }}</p>
          </div>
        </div>
      </div>
    </div></a
  >

  }
</section>
