<a [routerLink]="['list']">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">List of all potions</p>
        </div>
      </div>
    </div>
  </div>
</a>
<a [routerLink]="['create']">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">Create your own potion!</p>
        </div>
      </div>
    </div>
  </div>
</a>
