<section class="section" id="header">
  <h1 class="title">Welcome to the Harry Potter site!!</h1>
  <h2 class="subtitle">
    This site is a collection of Harry Potter things and bobs! Enjoy!
  </h2>
</section>
<section class="section" id="picture">
  <figure class="image is-700x394">
    <img src="/images/home-images/HarryPotterLogo.png" />
  </figure>
</section>

<footer class="footer">
  <div class="content has-text-centered">
    <p><strong>Harry Potter</strong> site by Miro Graré.</p>
  </div>
</footer>
